# Dependencies
node_modules/
vendor/

# Environment
.env
.env.local
.env.*.local

# Build
.next/
out/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Laravel
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*

# Docker
docker/data/

# Logs
*.log
npm-debug.log*
